[submodule "RastInHQ | RHN0r4oK9EVq8b7qOn18"]
	path = RastInHQ | RHN0r4oK9EVq8b7qOn18
	url = https://github.com/DarkPhoenix2704/SpeedTyper
[submodule "DEDSEC | YiZ4OJopnl8VEpDQUqCP"]
	path = DEDSEC | YiZ4OJopnl8VEpDQUqCP
	url = https://github.com/abhirama951/supabase_hacknight.git
[submodule "Trigon | swlxClTCEYo1FF4a8dda"]
	path = Trigon | swlxClTCEYo1FF4a8dda
	url = https://github.com/Asterdev-03/SHN_1.git
[submodule "ICONIC | MOGQjsPSWy7tz1r5rrU3"]
	path = ICONIC | MOGQjsPSWy7tz1r5rrU3
	url = https://github.com/ICONIC-Saturday-HackNight/Supabase-API
[submodule "CODhER | kECXzFVSl7DHLLBKXHKd"]
	path = CODhER | kECXzFVSl7DHLLBKXHKd
	url = https://github.com/anushajoseph/COD-h-ER.git
[submodule "Trigon | ssquoE1y48rB93OMvNEx"]
	path = Trigon | ssquoE1y48rB93OMvNEx
	url = https://github.com/Asterdev-03/SHN_1.git
[submodule "BITLEGION | 3zAG2YoTxyYrrXObTzKO"]
	path = BITLEGION | 3zAG2YoTxyYrrXObTzKO
	url = https://github.com/noelmaby/tinker_supabase.git
[submodule "TeamFLEG | vUeIcwIhjaoNXZEPzSMM"]
	path = TeamFLEG | vUeIcwIhjaoNXZEPzSMM
	url = https://github.com/TeamFLEG/sat-hacknight-supabase
[submodule "HackOverFlow | qGsKeCqJk24LVRc5AZpC"]
	path = HackOverFlow | qGsKeCqJk24LVRc5AZpC
	url = https://github.com/FasnaSharaf/supabase_tinkerhub.git
[submodule "Pheonix | DNmd2ggTx3pBA0rkKiJK"]
	path = Pheonix | DNmd2ggTx3pBA0rkKiJK
	url = https://github.com/ajmalmohad/pheonix-supabase
[submodule "TeamStark1 | cyzeFZcGujb2FcTO6fOj"]
	path = TeamStark1 | cyzeFZcGujb2FcTO6fOj
	url = https://github.com/Sreehari0101/TeamStark
[submodule "SPL | pCsnGousiQ58Wt8WwiIw"]
	path = SPL | pCsnGousiQ58Wt8WwiIw
	url = https://github.com/Tkpointz/Supabase-API.git
