[submodule "RastInHQ | RHN0r4oK9EVq8b7qOn18"]
	path = RastInHQ | RHN0r4oK9EVq8b7qOn18
	url = https://github.com/DarkPhoenix2704/SpeedTyper
[submodule "DEDSEC | YiZ4OJopnl8VEpDQUqCP"]
	path = DEDSEC | YiZ4OJopnl8VEpDQUqCP
	url = https://github.com/abhirama951/supabase_hacknight.git
[submodule "Trigon | swlxClTCEYo1FF4a8dda"]
	path = Trigon | swlxClTCEYo1FF4a8dda
	url = https://github.com/Asterdev-03/SHN_1.git
[submodule "ICONIC | MOGQjsPSWy7tz1r5rrU3"]
	path = ICONIC | MOGQjsPSWy7tz1r5rrU3
	url = https://github.com/ICONIC-Saturday-HackNight/Supabase-API
